# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ============================================
# Ignore dependencies
# ============================================
/node_modules
/client/node_modules
/server/node_modules
/client/build

# ============================================
# Testing files
# ============================================
/coverage

# ============================================
# Next.js specific
# ============================================
/.next/
/out/

# ============================================
# Production files
# ============================================
/client/build/

# ============================================
# Miscellaneous
# ============================================
/client/.DS_Store
/server/.DS_Store
/server/Thumbs.db

# ============================================
# Ignore Firebase config (Firebase.js)
# ============================================
/client/src/firebase.js
/server/firebase.js

# ============================================
# Ignore Firebase Service Account Key
# ============================================
/client/config/serviceAccountKey.json
serviceAccountKey.json
*.json

# ============================================
# Environment variables
# ============================================
/client/.env
/server/.env

# ============================================
# Ignore logs for Backend
# ============================================
logs/
*.log


